
#about{
	background: linear-gradient(to right, rgba(20,31,52,0.9), rgba(20,31,52,0.8), rgba(20,31,52,0.8), rgba(20,31,52,0.7),rgba(20,31,52,0.3), rgba(20,31,52,0.3), rgba(20,31,52,0.3)), linear-gradient(rgba(20,31,52,0.9), rgba(20,31,52,0.8), rgba(20,31,52,0.3), rgba(20,31,52,0.3),rgba(20,31,52,0.3), rgba(20,31,52,0.3), rgba(20,31,52,0.3)), url(images2/1.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
#org{
	display: flex ;
	list-style: none;
}
.dropdown-menu{
	border-top: 3px solid rgb(255,180,68);
	background-color: rgba(14,54,96,1) !important;
	box-shadow: 2px 2px;
}
.dropdown-divider{
	margin: 0 8px 0 8px !important;
}
.dropdown-item{
	color:white !important;
	padding:13px !important;
}
.dropdown-item:hover{
	background-color: rgba(14,54,85,1) !important;
}
.navbar{
	background:rgba(20,31,52,0.9) !important; 
}
.nav-link:hover{
	color:white !important;
}

.nav-item, 
.navbar-brand{
	font-size: 15px !important;
	padding:0px;
}

#orgname{
	margin-left: 0px !important;
	margin-top: 20px !important;
}


.container-fluid{
	margin-left: calc(100vw/16);	
}

.navbar-nav{
	margin-left: calc(100vw/8);
}

.nav-link{
	margin-left: calc(100vw/64);
}

.btn-lg{
	border-radius:100px;
	padding: 5px 20px 5px 20px;
}

.intro{
	margin:250px 0 0 0;
}

#i1{
	border:rgb(228,156,49) 1px solid !important;
	background: linear-gradient(to right, rgb(228,156,49), rgb(228,156,49), rgb(232,166,66), rgb(241,183,96),rgb(249,198,122)) !important;
	color:white;
	font-weight: 100;
}

#i1:hover{	
	font-weight: bold;
	padding: 5px 17px 5px 16px;
}

#i2{
	border: white 1px solid !important;
	background: white !important;
	color:rgb(20,31,52);
	font-weight: 100;
}

#i2:hover{
	font-weight: bold;
	padding: 5px 17px 5px 16px;
}

.ht{
	position: relative;
	color:white !important;
	top: 100%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#con1, #par1{
	color:rgba(14,54,85,1); 
	margin: 40px 0 40px 0; 
	font-weight:bold;
	font-size: 36px;
}

.bang{	
	color:rgba(14,54,85,1); 
	margin: 50px 0 40px 0; 
}

.banglogo{
	float: left !important; 
	padding:0 !important; 
	height:120px; 
	width:140px; 
	margin: 40px 0 40px 0;
}

#temp1{	
	background-repeat: no-repeat !important;
	box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.2), 0px 0px 20px 6px rgba(0, 0, 0, 0.19);
	border-radius: 3%;
	background-position: top center !important;
	
}

.img{
	height:130px;
	width:130px;
	margin-top:10px !important;
	margin-bottom: 10px !important;
	border-radius:50%;
}

.imgbg{
	margin: 30px 20px 30px 20px !important;
}

#team{
	background: url(images2/18.png);
	background-repeat: no-repeat;
	background-size:cover;
}

.card{
	margin-left: 20px !important;
	box-shadow:  0px 0px 40px 15px rgba(0, 0, 0, 0.05), 0px 0px 18px 20px rgba(0, 0, 0, 0.06); 
	border-radius: 3% !important;
}
.card:hover{
	height:180px;
	
}
.card-body{
	text-align: center!important;
}
.owl-carousel .nav-btn{
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.owl-carousel .prev-slide{
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
.owl-carousel .next-slide{
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
.owl-carousel .prev-slide:hover{
 background-position: 0px -53px;
}
.owl-carousel .next-slide:hover{
background-position: -24px -53px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;  
  background-size: 100%, 100%;
  border-radius: 50%;  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  font-weight: bolder;
  color: rgb(118,167,224);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  font-weight: bolder;
  color: rgb(118,167,224);
}

.bg-primary{
	background: rgb(51,122,202)!important;
}

#htc{
	padding-left: 220px !important;
	padding-top:30px;
	padding-bottom: 30px;
}
#htc1{
	z-index: 1!important;
}
#htc1:nth-child(3){
	transform: translate(160px,-160px);
	opacity: 1;
}
#htc1:nth-child(2){
	transform: translate(-30px,30px);
	opacity: 0.8;
}
#htc1:nth-child(1){
	transform: translate(-60px,60px);
	opacity: 0.6;
}

.contact-us{
  width: 400px;
  background: #fff;
  padding: 50px;
  margin: 100px auto;
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.05), 0px 0px 18px 20px rgba(0, 0, 0, 0.06);;
}

.title h1{
  color: #535274;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.form,
.form-items{
  width: 100%;
}

.form-items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 5%;
  border:1px solid rgb(45,90,136);;
}

.form-items .input.message{
  height: 125px;
  border-radius: 12px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
  border:1px solid rgb(45,90,136);;
}

.btna{
  background:rgb(45,90,136);
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.btna .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form-items{
  position: relative;
}

.form-items .fas{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.contact-us{
	margin-top:-400px;
}

.carousel-control-next-icon{
	margin-left: 100px !important;
}

#htc div{
	box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
}
#htc div:nth-child(3){
	transform: translate(20px,-20px);
	opacity: 1;
	position: relative;
}
#htc div:nth-child(2){
	transform: translate(10px,-10px);
	opacity: 0.7;
	position: absolute;
}
#htc div:nth-child(1){
	transform: translate(00px,0px);
	opacity: 0.4;
	position: absolute;
}
.pqrs{
	height:200px; 
	width:400px; 
	border-radius:7%; 
	color:white; 
	padding:25px;
}
.pqrs i{
		font-size:45px;
	}
@media screen and (max-width: 1200px){
	.container-fluid{
		margin-left: calc(100vw/100);
	}

	.navbar-nav{
		margin-left:calc(100vw/100vw) !important;
	}

	.nav-link{
		margin-left:calc(100vw/100) !important;
	}
	.nav-link:hover{
		color:white !important;
	}
	.navbar-brand{
		margin :calc(100vw/100) !important;
	}
	#logo{
		margin-left: 0px;
	}

	.dropdown-menu{
		margin-left: 20px !important;
		background:rgba(255, 255, 255, 0) !important;
		border-right: 2px solid rgb(255,180,68);
		border-top: 4px solid rgb(255,180,68);
		border-left: 2px solid rgb(255,180,68);
	}
	.dropdown-item:hover{
		background: linear-gradient(to right,rgba(20,31,52,0.9), rgba(20,31,52,0.8), rgba(20,31,52,0.7),rgba(20,31,52,0.6), rgba(20,31,52,0.5)) !important;
	}
	.banglogo{
	float: left !important; 
	padding:0 !important; 
	height:120px; 
	width:140px; 
	margin: 40px 0 40px 0;
	}
	#htc{
		padding-left: 110px !important;
	}
	.carousel-control-next-icon{
	margin-left: 60px !important;
	}
	.pqrs{
		height:180px; 
		width:350px; 
		border-radius:7%; 
		color:white; 
		padding:25px;
	}
}

@media screen and (max-width: 462px){
	.nav-link, .dropdown-item{
		font-size:90% !important;
	}
	#orgname{
		font-size: 90% ;
	}
	.ht{
		
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
	}

	#ht1{
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		font-size: 28px;
	}
	#ht2{
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		font-size: 15px;
	}
	#con1, #par1{
		text-align: center !important;
		margin-bottom:0px !important;
	}
	.banglogo{
		margin-left: 200px!important;
		padding-left:200px !important; 
		height:140px; 
		width:160px; 
	}
	#temp1{
		 background-position: center !important;
		 width:100vw !important;
	}
	.card{
		width: calc(100vw/2) !important;
		align-items: center !important;
	}
	#htc{
	padding-left: 0px !important;
	}
	.contact-us{
		margin:100px auto;
	}
	.zs{
		font-size:45px;
		margin: 0 auto 0 auto;
	}
	.pqrs{
		height:140px; 
		width:310px; 
		border-radius:7%; 
		color:white; 
		padding:25px;

	}
	.pqrs i{
		font-size:25px;
	}
}	

@media screen and (min-width:463px) and (max-width: 992px){
	.ht{		
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
	}	
	#ht1{
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		font-size: 30px;
	}
	#ht2{
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		font-size: 15px;
	}
	#con1, #par1{
		text-align: center !important;
		margin-bottom: 0px !important;
	}
	.bang{
		margin: 60px 0 40px 0 !important;
		text-align: right;
	}
	.banglogo{
		
		float: left !important; 
		padding:0 !important; 
		height:140px; 
		width:160px; 
		margin: 40px 0 40px 0 !important;
	}
	#htc{
		padding-left: calc(100vw/10) !important;
	}
	.contact-us{
		margin:100px auto;
	}
	.zs{
		font-size:45px;
		margin: 0 auto 0 auto;
	}
	.pqrs{
		height:170px; 
		width:330px; 
		border-radius:7%; 
		color:white; 
		padding:25px;
	}
	.pqrs i{
		font-size:30px;
	}
}
@media screen and (min-width: 463px) and (max-width: 768px){
	.img{
		/*margin-left: calc(100vw/4) !important;*/
		width:150px;
		height:150px;
	}	
	#temp1{
		 background-position: center !important;
		 width:100vw !important;
	}
	.card{
		width: calc(100vw/2) !important;
		align-items: center !important;
	}
	#htc{
		padding-left: calc(100vw/10) !important;
	}
	.contact-us{
		margin:100px auto;
	}
	.pqrs i{
		font-size:37px;
	}
}
@media screen and (min-width:1600px){
	.navbar-nav{
		margin-left: calc(100vw/6);
	}
	.nav-link:hover{
		color:white !important;
	}
	#con1{
		text-align: center !important;
		margin-bottom: 40px !important;
	}
	.bang{
		margin: 50px 0 40px 0 !important;
		text-align: right;
	}
	.banglogo{
		margin: 40px 0 40px 0 !important;
		float: left !important; 
		padding:0 !important; 
		height:120px; 
		width:140px; 
	}

	.contact-us{
		margin-top:-400px;
	}
	/*.img{
		margin-left: 17px;
	}*/
}