@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
#home nav a h2{
    text-transform:lowercase;
    font-weight:bolder;
    font-family:'Orbitron', sans-serif;
    font-weight:bold !important;
    margin-left:2.8rem;    
    -webkit-text-fill-color:rgba(0,0,0,0);  
    -webkit-text-stroke-width: 1px;  
    -webkit-text-stroke-color: whitesmoke;
}

.navbar{
    background:linear-gradient(to bottom, rgba(20,31,52,0.8),  rgba(20,31,52,0.5),  rgba(20,31,52,0.3), rgba(20,31,52,0.2), rgba(20,31,52,0.1), rgba(20,31,52,0))!important;
}
.nav-item{
    font-weight: 200!important;
    margin-left:calc(100vw/55)!important;
    padding: 0 10px !important;
    border-bottom: 2px solid rgba(0,0,0,0) !important;
}

.nav-link{
    color:white !important;
    font-size: 16px!important;
}

.nav-item:hover{
    border-bottom: 2px solid darkturquoise !important;
    transition: .3s ease-in-out !important;
    border-radius: 8% !important;
    background: rgba(192, 188, 188, 0.2) !important;
    border-radius: 8% !important;
    z-index: 10 !important;
}

.dropdown-menu{
    background: rgba(0,0,0,0)!important;
    border: none!important;
    min-width: 20px !important;
}

.dropdown-item{
    padding-left: 11px!important;
    opacity: 0.7 !important;
}

.dropdown-item:hover, .dropdown-item:active{
    background: rgba(192, 188, 188, 0.2) !important;
    border-radius: 8% !important;
}

#navbarDropdown{
    color: white !important;
}

#navbarDropdown:active, #navbarDropdown:hover{
    color:rgb(0, 209, 209,1) !important;
   
}

#fa:hover{
    transition:0.2s;
    color: rgb(20, 83, 199)   !important;
    filter:brightness(1.75);
}

#ins:hover{
    transition:0.2s;
    color: rgb(229 , 21, 36) !important;
    filter:brightness(1.75);
}


#lin:hover{
    transition:0.2s;
    color: rgb(5, 182, 226) !important;
    filter:brightness(200%);
}

.dropdown-toggle::after{
    display:none !important;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}

.dropdown-item{
    font-size: 35px !important;
    color:whitesmoke;
    padding-left: 17px !important;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    filter: blur(3px);
}

.container .row .col-10{
    padding: 0px !important;
    margin: 0px !important;
}

#row1{
    margin-top: calc(100vh/2.8);
}
#row2{
    margin-top: 170px;
}
.container .row .col-10 p{
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-weight: bold;
    position: fixed;
    margin-left: calc(100vw/35);
    margin-bottom: 0px;
    padding-bottom:0px !important;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size:2.7rem;
    letter-spacing: 2px;    
    z-index: 10;
}

.col-4 button, .col-sm-4 button, .col-md-4 button , .col-lg-4 button{
    z-index: 100;    
    padding:12px 15px;
    background: darkturquoise;
    color: white;
    border:2px solid darkturquoise;
    -webkit-box-shadow: 11px 10px 52px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 52px -1px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 52px -1px rgba(0,0,0,0.75);
    
}

.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.chevron{
    margin:30px !important;
    display: block;
    animation: pulse 3s infinite;
    color: #FF4081;
}
.chevron::before {
    border-style: solid;
    border-width: 0.18em 0.18em 0 0;
    content: '';
    display: inline-block;
    height: 15px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 15px;

}
#knowmore{
    text-align: center;
}


@keyframes pulse{
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0,40px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media (max-width: 575.98px) {
    .navbar-brand{
        margin:auto !important;
    }
    .nav-item{
        margin: auto !important;
    }
    #row1{
        margin-top: calc(100vh/4);
    }
    .container .row .col-10 p{
        font-size:1.5rem;
        margin-left: calc(100vw/28);
        margin-bottom: 20px;
    }
    .navbar{
        background: rgba(20,31,52,0.7) !important;
    }
    #knowmore{
        font-size:55%;
        text-align:center;
    }
    #knowmore button{
        padding: 4px;
    }
    #knowmore .chevron{
        margin: 4px !important;
        display: block;
        animation: pulse 3s infinite;
    }
    .chevron::before {
        border-style: solid;
        border-width: 0.18em 0.18em 0 0;
        content: '';
        display: inline-block;
        height: 15px;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        vertical-align: top;
        width: 15px;
    
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand{
        margin:auto!important;
    }
    .nav-item{
        margin:auto!important;
    }
    #row1{
        margin-top: calc(100vh/3.65);
    }
    .container .row .col-10 p{
        font-size:1.7rem;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .navbar{
        background: rgba(20,31,52,0.7) !important;
        z-index: 100;
    }
    #knowmore{
        font-size:70%;
        text-align:center;
    }
    #knowmore .chevron{
        margin:6px !important;
        display: block;
        animation: pulse 3s infinite;
    }
    .chevron::before {
        border-style: solid;
        border-width: 0.18em 0.18em 0 0;
        content: '';
        display: inline-block;
        height: 15px;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        vertical-align: top;
        width: 15px;
    
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand{
        margin-left: -80px !important;
    }
    #row1{
        margin-top: calc(100vh/3.3);
    }
    .container .row .col-10 p{
        font-size:2.1rem;
       
        margin-left: calc(100vw/50);
        margin-bottom: 20px;
    }
    #knowmore{
        font-size:80%;
        text-align:center;
    }
    #knowmore .chevron{
        margin:4px !important;
        display: block;
        animation: pulse 3s infinite;
    }
    .chevron::before {
        border-style: solid;
        border-width: 0.18em 0.18em 0 0;
        content: '';
        display: inline-block;
        height: 15px;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        vertical-align: top;
        width: 15px;
    
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-brand{
        margin-left:0 !important;
    }
    #row1{
        margin: calc(100vh/3) auto;
    }
    .container .row .col-10 p{
        font-size:2.5rem;
        
        margin-bottom: 20px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}