@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,800');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
#body{
    overflow: hidden;
    margin-right: 0px !important;
}
#home nav a h2{
    text-transform:lowercase;
    font-weight:bolder;
    font-family:'Orbitron', sans-serif;
    font-weight:bold !important;
    margin-left:2.8rem;    
    -webkit-text-fill-color:rgba(0,0,0,0);  
    -webkit-text-stroke-width: 1px;  
    -webkit-text-stroke-color: whitesmoke;
}

.navbar{
    background:linear-gradient(to bottom, rgba(20,31,52,0.8),  rgba(20,31,52,0.5),  rgba(20,31,52,0.3), rgba(20,31,52,0.2), rgba(20,31,52,0.1), rgba(20,31,52,0))!important;
}
.nav-item{
    font-weight: 200!important;
    margin-left:calc(100vw/100)!important;
    padding: 0 10px !important;
    border-bottom: 2px solid rgba(0,0,0,0) !important;
}

.nav-link{
    color:white !important;
    font-size: 16px!important;
}

.nav-item:hover{
    border-bottom: 2px solid darkturquoise !important;
    transition: .3s ease-in-out !important;
    border-radius: 8% !important;
    background: rgba(192, 188, 188, 0.2) !important;
    border-radius: 8% !important;
    z-index: 10 !important;
}

.dropdown-menu{
    background: rgba(0,0,0,0)!important;
    border: none!important;
    min-width: 20px !important;
}

.dropdown-item{
    padding-left: 11px!important;
    opacity: 0.7 !important;
}

.dropdown-item:hover, .dropdown-item:active{
    background: rgba(192, 188, 188, 0.2) !important;
    border-radius: 8% !important;
}

#navbarDropdown{
    color: white !important;
}

#navbarDropdown:active, #navbarDropdown:hover{
    color:rgb(0, 209, 209,1) !important;
   
}

#fa:hover{
    transition:0.2s;
    color: rgb(20, 83, 199)   !important;
    filter:brightness(1.75);
}

#ins:hover{
    transition:0.2s;
    color: rgb(229 , 21, 36) !important;
    filter:brightness(1.75);
}

#lin:hover{
    transition:0.2s;
    color: rgb(5, 182, 226) !important;
    filter:brightness(200%);
}

.dropdown-toggle::after{
    display:none !important;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}

.dropdown-item{
    font-size: 35px !important;
    color:whitesmoke;
    padding-left: 17px !important;
}

.video-background{
    position: relative;
    width:100%;
    min-height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.caption{
    position:absolute;
    top:38%;
    width:100%;
}

.caption p{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 800;
    margin-left: calc(100vw/35);
    margin-bottom: 0px;
    padding-bottom:0px !important;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size:2.4rem;
    letter-spacing: 2px;    
    z-index: 10;
    text-shadow: .1em .1em .8em black;
}

.caption .btn button{
    z-index: 100;    
    padding:12px 15px;
    background: darkturquoise;
    color: white;
    font-family:'Fredericka the Great', cursive;
    font-weight: bold;
    border:2px solid darkturquoise;
    -webkit-box-shadow: 11px 10px 52px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 52px -1px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 52px -1px rgba(0,0,0,0.75);
    margin-top:30px !important;
}

.caption .btn button:hover{
    padding:11px 14px;
}

.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.chevron{
    margin:30px !important;
    display: block;
    animation: pulse 3s infinite;
    color: #FF4081;
}
.chevron::before {
    border-style: solid;
    border-width: 0.3em 0.3em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 20px;

}

@keyframes pulse{
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0,40px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#myname{
    padding: calc(100vh/4) calc(100vw/12.9) calc(100vh/3.7) !important;
    background: rgb(7,106,121);
    text-shadow: .1em .1em .8em black;
}

#hey{
    color:rgb(180, 180, 180);
    font-weight:500;
    font-size:4rem;
    font-family: 'Work Sans', sans-serif;
}
#name{
    font-family: 'Work Sans', sans-serif;    
    font-weight: 800;
    font-size:calc(100vw/14);
    color:whitesmoke;
}

#hack{
    color:#EEC848 !important;
    font-size:26px;
}
#myimage1{
    background: url("images/img1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    height:100vh;

}

.me h2{
    font-family: 'Work Sans', sans-serif !important;
    font-size:calc(100vw/26) !important;
    font-weight: 800 !important;
    color: rgb(7,106,121) !important;
    margin-top:170px !important;
    text-shadow: 2px -4px 8px rgba(0,0,0,0.5);
}
#carouselContent{
    margin-top:80px !important;
    margin-left:120px;
    margin-right: 160px;
}
.caraousel-item{
    width:120px !important;
} 
.carousel-item p{
    font-size: 1.4rem !important;
    color:rgb(7,106,121);
}
#intropara{    
    margin-top: -49px !important;
    font-size: 1.4rem !important;
    color:rgb(124, 122, 122);
}
.carousel-item, .carousel-inner{
    width:75% !important;
}

.meimg{
    position: relative;
}


#myimage2{
    position: absolute;
    display: block;
    margin-top:110px;
    margin-left:100px;
    margin-right:auto;
    width: 490px;
    height:620px;
    box-shadow:  -5px -10px 20px rgba(0,0,0,1);
    z-index: 10;
}
#myimage3{
    
    left: 50px;
    top: 50px;
    width: 430px;
    height:520px;
    z-index: 1;
    margin-top:245px;
    margin-left:215px;
}

#resume{
    margin-top:45px;
    margin-left: 0 px!important;
}

#resume button {
    background:#EEC848;
    border: none;
    color:	#285352;
    text-align: center;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}
#resume button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#resume button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#resume button:hover span {
    padding-right: 25px;
}
  
#resume button:hover span:after {
    opacity: 1;
    right: 0;
}

#port h2{
    color: #EEC848 !important;
    margin-top:80px !important;
    margin-bottom:20px;
    text-align:center !important;
}

#port-line{
    
    background-color:#EEC848;   
    height:0.4rem;
    width:6rem;
    margin: 20px auto;
    
}

.swiper-slide{
    transition: .5s ease;
    backface-visibility: hidden;
}

.text{
    position: absolute;  
    width:inherit;
    height: inherit;
    text-align: center;
    padding:60px;
    padding-top: 30%;
    display: none;
    transition: .5s ease;
    
}

.swiper-slide:hover .text{    
    background: #262626;
    opacity: 0.7;
    display: block;
}
.swiper-slide:active .text{    
    background: #262626;
    opacity: 0.7;
    display: block;
}

.text .img-box-head{
    font-size:45px !important;
    font-weight: bold;
}

.text p{
    line-height: 180%;
    margin-top:30px;
    font-size:20px !important;
}
.text p b{
    color:rgb(255, 187, 0);
    font-weight:bolder;     
}

.pro{
    margin-left:0px !important;
    
}

.mb-3{
    box-shadow: 11px 10px 52px -1px rgba(0,0,0,0.75);
}
.card-btn button{
    background:rgb(255,187,0);
    border:none;
    border-radius:0;
    padding:7px 20px;
}

#img-quote{
    font-weight: bold;
    text-shadow: 15px 20px 11px #262626 !important;
    color: #F1443E;
    font-family: 'Cedarville Cursive', cursive;
    font-size:60px;
    text-align: center;
}

#contact-img{
    width:450px;
    height: 600px;
    margin-left:-200px;
    margin-top: 40%;
}

#contact div div h2{
    margin-top:20% !important;
    color: #fff !important;
    margin-bottom: 0px !important;
}

.contact-us{
    margin-top: 0px !important;
    width: 400px;
    background:#285352;
    padding: auto;
    text-align: center;
    border: none;
    position: relative;
    
  }

  .form,
  .form-items{
    width: 100%;
  }
  
  .form-items .input{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 20px;
    box-sizing: border-box;
    background: #285352;
    color:white;
    border: 0px;
    outline: none;
    border-radius: 0;
    border-bottom:1px solid white;
  }
  

  .form-items .input.message{
    height: 125px;
    margin-bottom: 30px;
    padding: 15px 20px;
    resize: none;
    border-bottom:1px solid white;
  }
  
  .btna{
    background:rgb(255,187,0);
    text-align: center;
    color: #285352;
    padding: 12px;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .btna .fas{
    margin-left: 10px;
    font-size: 12px;
  }
  
  .form-items{
    position: relative;
  }
  
  .form-items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
  }
  
  .contact-us{
    margin-top:-400px;
  }

  .form:hover, .form:active, .btna:hover{
    box-shadow: 0px 2px 20px 4px rgba(0,0,0,0.5);
  }
  
@media (max-width: 575.98px) {
    .navbar-brand{
        margin:auto !important;
    }
    .nav-item{
        margin: auto !important;
    }
    .caption{
        top:45%;
    }
    .caption p{
        font-size:1.5rem;
        margin-left: calc(100vw/28);
        margin-bottom: 0px;
    }
    #knowmore{
        font-size:55%;
        text-align:center;
    }
    #knowmore button{
        padding: 4px;
    }
    #knowmore .chevron{
        margin: 4px !important;
        display: block;
        animation: pulse 3s infinite;
    }
    .chevron::before {
        border-style: solid;
        border-width: 0.18em 0.18em 0 0;
        content: '';
        display: inline-block;
        height: 15px;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        vertical-align: top;
        width: 15px;
    
    }
    #myname{
        padding: calc(100vh/2.75) calc(100vw/22) calc(100vh/3.8);
    }
    
    #hey{
        font-size:2.5rem;
    }
    #name{
        font-size:calc(100vw/7.5) !important;
    }
    .me h2{
        font-family: 'Work Sans', sans-serif !important;
        font-size:2.5rem !important;
        font-weight: 800 !important;
        color: rgb(7,106,121) !important;
        margin-top:100px !important;
        margin-left: calc(100vw/5) !important;
    }
    .pro{
        margin-left:0px !important;
    }
    #carouselContent{
        margin-top:80px !important;
        margin-left:60px;
        margin-right: 40px;
    }
    .caraousel-item{
        width:120px !important;
    } 
    .carousel-item p{
        font-size: 1rem !important;
        color:rgb(7,106,121);
    }
    #intropara{    
        margin-top: -40px !important;
        font-size: 1rem !important;
        color:rgb(124, 122, 122);
    }
    .carousel-item, .carousel-inner{
        width:100% !important;
    }
    .swiper-slide{
        width:420px;
        height:580px;
    }
    .text{
        background: #262626;
        opacity: 0.7;
        display: block;
    }
    #port h2{
        margin: 80px auto !important;
        margin-bottom:20px !important;
    }
    #port-line{
        margin: 20px auto;
    }
    #img-quote{
        font-size:30px;
    }
    .contact-us{
        margin-top: 0px !important;
        text-align: center;
        width: calc(100vw/1.5);
    }
    .con{
        text-align: center !important;
    }
    .form{
        margin-left: calc(100vw/7) !important;
    }
    .btna{
        margin-left: calc(100vw/7) !important;
        width: calc(100vw/1.5);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand{
        margin:auto!important;
    }
    .nav-item{
        margin:auto!important;
    }
    .caption{
        top:36%;
    }
    .caption p{
        font-size:1.7rem;
        margin-left: auto;
        margin-bottom:px;
    }
    #knowmore{
        font-size:70%;
        text-align:center;
    }
    #knowmore .chevron{
        margin:6px !important;
        display: block;
        animation: pulse 3s infinite;
    }
    .chevron::before {
        border-style: solid;
        border-width: 0.18em 0.18em 0 0;
        content: '';
        display: inline-block;
        height: 15px;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        vertical-align: top;
        width: 15px;
    
    }
    
    #myname{
        padding: calc(100vh/2.75) calc(100vw/22) calc(100vh/4);
    }
    
    #hey{
        font-size:3rem;
    }
    #name{
        font-size:5rem;
    }
    .me h2{
        font-family: 'Work Sans', sans-serif !important;
        font-size:3rem !important;
        font-weight: 800 !important;
        color: rgb(7,106,121) !important;
        margin-top:110px !important;
        margin-left: 60px;
    }
    .pro{
        margin-left:0px !important;
    }
    .text{
        display: block;
        background: #262626;
        opacity: 0.7;
    }
    #carouselContent{
        margin-top:80px !important;
        margin-left:60px;
        margin-right: 40px;
    }
    .caraousel-item{
        width:120px !important;
    } 
    .carousel-item p{
        font-size: 1.3rem !important;
        color:rgb(7,106,121);
    }
    #intropara{    
        margin-top: -46px !important;
        font-size: 1.3rem !important;
        color:rgb(124, 122, 122);
    }
    .carousel-item, .carousel-inner{
        width:100% !important;
    }
    #img-quote{
        font-size:40px;
    }
    .contact-us{
        margin-top: 0px !important;
        text-align: center;
        width: calc(100vw/1.5);
    }
    .con{
        text-align: center !important;
    }
    .form{
        margin-left: calc(100vw/7) !important;
    }
    .btna{
        margin-left: calc(100vw/7) !important;
        width: calc(100vw/1.5);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand{
        margin-left: -76px !important;
    }
    .nav-item{
        margin-left:calc(100vw/10000) !important;
    }
    .form-inline{
        margin-left:calc(100vw/10000) !important;
    }
    .caption p{
        font-size:2.1rem;       
        margin-left: calc(100vw/50);
        margin-bottom: 0px;
    }
    .caption{
        top:27%;
    }
    #knowmore{
        font-size:80%;
        text-align:center;
    }
    #knowmore .chevron{
        margin:4px !important;
        display: block;
        animation: pulse 3s infinite;
    }
    .chevron::before {
        border-style: solid;
        border-width: 0.18em 0.18em 0 0;
        content: '';
        display: inline-block;
        height: 15px;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        vertical-align: top;
        width: 15px;
    
    }
    
    #myname{
        padding: calc(100vh/2.75) calc(100vw/22) calc(100vh/4);
    }
    
    #hey{
        font-size:3.2rem;
    }
    #name{
        font-size:6.5rem;
    }
    .me h2{
        font-family: 'Work Sans', sans-serif !important;
        font-size:3.2rem !important;
        font-weight: 800 !important;
        color: rgb(7,106,121) !important;
        margin-top:130px !important;
        margin-left:75px;
    }
    .pro{
        margin-left:0px !important;
    }
    .contact-us{
        margin-top: 0px !important;
        text-align: center;
        width: calc(100vw/1.5);
    }
    .con{
        text-align: center !important;
    }
    .form{
        margin-left: calc(100vw/7) !important;
    }
    .btna{
        margin-left: calc(100vw/7) !important;
        width: calc(100vw/1.5);
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-brand{
        margin-left:0 !important;
    }
    .caption p{
        font-size:2.5rem;        
        margin-bottom: 0px;
    }
    
    #myname{
        padding: calc(100vh/2.75) calc(100vw/22) calc(100vh/4);
    }
    
    #hey{
        font-size:3rem;
    }
    .me h2{
        font-family: 'Work Sans', sans-serif !important;
        font-size:3rem !important;
        font-weight: 800 !important;
        color: rgb(7,106,121) !important;
        margin-top:170px !important;
        margin-left: 70px;
    }
    .pro{
        margin-left:0px !important;
    }
    #carouselContent{
        margin-top:80px !important;
        margin-left:70px;
        margin-right: 40px;
    }
    .caraousel-item{
        width:120px !important;
    } 
    .carousel-item p{
        font-size: 1.2rem !important;
        color:rgb(7,106,121);
    }
    #intropara{    
        margin-top: -44px !important;
        font-size: 1.2rem !important;
        color:rgb(124, 122, 122);
    }
    .carousel-item, .carousel-inner{
        width:100% !important;
    }
    
    #myimage2{
        width: 360px;
        height:550px;
    }
    #myimage3{
        width: 280px;
        height:450px;
    }
    #contact-img{
        width:400px;
        height:500px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}
